

<div class="row justify-content-center align-self-center">
    <div class="card border-primary mb-3">
        <div class="card-header text-center">STAGE</div>
        <div class="card-body">
            <div class="row justify-content-center align-self-center">

                @*<div class="form-group">
                        <input class="form-control form-control-lg text-center" disabled="" type="text" placeholder="STAGE" id="inputLarge">
                    </div>*@
            </div>
            <div class="row">
                <div class="col-6">
                    <button type="button" id="Seat1" class="btn btn-outline-primary uniformb" value="1">Seat 01</button>
                    <button type="button" disabled="" class="btn btn-outline-danger vacantseat"><span class="fas fa-times" aria-hidden="true"></span></button>
                    <button type="button" id="Seat3" class="btn btn-outline-primary uniformb" value="3">Seat 03</button>
                    <button type="button" disabled="" class="btn btn-outline-danger vacantseat"><span class="fas fa-times" aria-hidden="true"></span></button>
                    <button type="button" id="Seat5" class="btn btn-outline-primary uniformb" value="5">Seat 05</button>
                </div>
                <div class="col-6">
                    <button type="button" disabled="" class="btn btn-outline-danger vacantseat"><span class="fas fa-times" aria-hidden="true"></span></button>
                    <button type="button" id="Seat7" class="btn btn-outline-primary uniformb" value="7">Seat 07</button>
                    <button type="button" disabled="" class="btn btn-outline-danger vacantseat"><span class="fas fa-times" aria-hidden="true"></span></button>
                    <button type="button" id="Seat9" class="btn btn-outline-primary uniformb" value="9">Seat 09</button>
                    <button type="button" disabled="" class="btn btn-outline-danger vacantseat"><span class="fas fa-times" aria-hidden="true"></span></button>
                </div>
            </div>
            <div class="row">
                <div class="col-6">
                    <button type="button" disabled="" class="btn btn-outline-danger vacantseat"><span class="fas fa-times" aria-hidden="true"></span></button>
                    <button type="button" id="Seat12" class="btn btn-outline-primary uniformb" value="12">Seat 12</button>
                    <button type="button" disabled="" class="btn btn-outline-danger vacantseat"><span class="fas fa-times" aria-hidden="true"></span></button>
                    <button type="button" id="Seat14" class="btn btn-outline-primary uniformb" value="14">Seat 14</button>
                    <button type="button" disabled="" class="btn btn-outline-danger vacantseat"><span class="fas fa-times" aria-hidden="true"></span></button>
                </div>
                <div class="col-6">
                    <button type="button" id="Seat16" class="btn btn-outline-primary uniformb" value="16">Seat 16</button>
                    <button type="button" disabled="" class="btn btn-outline-danger vacantseat"><span class="fas fa-times" aria-hidden="true"></span></button>
                    <button type="button" id="Seat18" class="btn btn-outline-primary uniformb" value="18">Seat 18</button>
                    <button type="button" disabled="" class="btn btn-outline-danger vacantseat"><span class="fas fa-times" aria-hidden="true"></span></button>
                    <button type="button" id="Seat20" class="btn btn-outline-primary uniformb" value="20">Seat 20</button>
                </div>
            </div>

            <div class="row">
                <div class="col-6">
                    <button type="button" id="Seat21" class="btn btn-outline-primary uniformb" value="21">Seat 21</button>
                    <button type="button" disabled="" class="btn btn-outline-danger vacantseat"><span class="fas fa-times" aria-hidden="true"></span></button>
                    <button type="button" id="Seat23" class="btn btn-outline-primary uniformb" value="23">Seat 23</button>
                    <button type="button" disabled="" class="btn btn-outline-danger vacantseat"><span class="fas fa-times" aria-hidden="true"></span></button>
                    <button type="button" id="Seat25" class="btn btn-outline-primary uniformb" value="25">Seat 25</button>
                </div>
                <div class="col-6">
                    <button type="button" disabled="" class="btn btn-outline-danger vacantseat"><span class="fas fa-times" aria-hidden="true"></span></button>
                    <button type="button" id="Seat27" class="btn btn-outline-primary uniformb" value="27">Seat 27</button>
                    <button type="button" disabled="" class="btn btn-outline-danger vacantseat"><span class="fas fa-times" aria-hidden="true"></span></button>
                    <button type="button" id="Seat29" class="btn btn-outline-primary uniformb" value="29">Seat 29</button>
                    <button type="button" disabled="" class="btn btn-outline-danger vacantseat"><span class="fas fa-times" aria-hidden="true"></span></button>
                </div>
            </div>
            <div class="row">
                <div class="col-6">
                    <button type="button" disabled="" class="btn btn-outline-danger vacantseat"><span class="fas fa-times" aria-hidden="true"></span></button>
                    <button type="button" id="Seat32" class="btn btn-outline-primary uniformb" value="32">Seat 32</button>
                    <button type="button" disabled="" class="btn btn-outline-danger vacantseat"><span class="fas fa-times" aria-hidden="true"></span></button>
                    <button type="button" id="Seat34" class="btn btn-outline-primary uniformb" value="34">Seat 34</button>
                    <button type="button" disabled="" class="btn btn-outline-danger vacantseat"><span class="fas fa-times" aria-hidden="true"></span></button>
                </div>
                <div class="col-6">
                    <button type="button" id="Seat36" class="btn btn-outline-primary uniformb" value="36">Seat 36</button>
                    <button type="button" disabled="" class="btn btn-outline-danger vacantseat"><span class="fas fa-times" aria-hidden="true"></span></button>
                    <button type="button" id="Seat38" class="btn btn-outline-primary uniformb" value="38">Seat 38</button>
                    <button type="button" disabled="" class="btn btn-outline-danger vacantseat"><span class="fas fa-times" aria-hidden="true"></span></button>
                    <button type="button" id="Seat40" class="btn btn-outline-primary uniformb" value="40">Seat 40</button>
                </div>
            </div>
        </div>
    </div>
</div>

<script type="text/javascript">

    $(function () {
        $('[data-toggle="tooltip"]').tooltip()
    });

    $('[type="button"]').click(function () {
        var data = $(this).attr("value");
        CreateDialog(data);
    });


    //$("#button").click(function (e) {
    //    e.preventDefault();
    //    DialogFunction();
    //});

</script>
