

<div class="row justify-content-center align-self-center containerVan-non-responsive">
    <div class="card border-primary mb-3">
        @*<div class="card-header text-center">STAGE</div>*@
        <div class="card-body">
            <div class="row justify-content-center align-self-center">
                <div class="form-group">
                    @*<input class="form-control form-control-lg text-center" disabled="" type="text" placeholder="STAGE" id="inputLarge">*@
                    <button type="button" disabled="" class="btn btn-outline-info vancouverstage">STAGE</button>
                </div>
            </div>
            <div class="row no-gutters mb-2">
                <div class="col-3 justify-content-center align-self-center">
                    <div row>
                        <button type="button" id="Seat1" class="btn btn-primary uniformbvan mb-3" value="1">Seat 01</button>
                        <button type="button" disabled="" class="btn btn-outline-danger vacantseatvan mb-3"><span class="fas fa-times" aria-hidden="true"></span></button>
                        <button type="button" disabled="" class="btn btn-outline-danger vacantseatvan mb-3"><span class="fas fa-times" aria-hidden="true"></span></button>
                        <button type="button" disabled="" class="btn btn-outline-danger vacantseatvan mb-3"><span class="fas fa-times" aria-hidden="true"></span></button>
                    </div>
                    <div row>
                        <button type="button" disabled="" class="btn btn-outline-danger vacantseatvan mb-3"><span class="fas fa-times" aria-hidden="true"></span></button>
                        <button type="button" disabled="" class="btn btn-outline-danger vacantseatvan mb-3"><span class="fas fa-times" aria-hidden="true"></span></button>
                        <button type="button" disabled="" class="btn btn-outline-danger vacantseatvan mb-3"><span class="fas fa-times" aria-hidden="true"></span></button>
                        <button type="button" id="Seat2" class="btn btn-primary uniformbvan mb-3" value="2">Seat 02</button>
                    </div>
                    <div row>
                        <button type="button" id="Seat3" class="btn btn-primary uniformbvan mb-3" value="3">Seat 03</button>
                        <button type="button" disabled="" class="btn btn-outline-danger vacantseatvan mb-3"><span class="fas fa-times" aria-hidden="true"></span></button>
                        <button type="button" disabled="" class="btn btn-outline-danger vacantseatvan mb-3"><span class="fas fa-times" aria-hidden="true"></span></button>
                        <button type="button" disabled="" class="btn btn-outline-danger vacantseatvan mb-3"><span class="fas fa-times" aria-hidden="true"></span></button>
                    </div>
                    <div row>
                        <button type="button" disabled="" class="btn btn-outline-danger vacantseatvan mb-3"><span class="fas fa-times" aria-hidden="true"></span></button>
                        <button type="button" disabled="" class="btn btn-outline-danger vacantseatvan mb-3"><span class="fas fa-times" aria-hidden="true"></span></button>
                        <button type="button" disabled="" class="btn btn-outline-danger vacantseatvan mb-3"><span class="fas fa-times" aria-hidden="true"></span></button>
                        <button type="button" id="Seat4" class="btn btn-primary uniformbvan mb-3" value="4">Seat 04</button>
                    </div>
                    <div row>
                        <button type="button" id="Seat5" class="btn btn-primary uniformbvan mb-3" value="5">Seat 05</button>
                        <button type="button" disabled="" class="btn btn-outline-danger vacantseatvan mb-3"><span class="fas fa-times" aria-hidden="true"></span></button>
                        <button type="button" disabled="" class="btn btn-outline-danger vacantseatvan mb-3"><span class="fas fa-times" aria-hidden="true"></span></button>
                        <button type="button" disabled="" class="btn btn-outline-danger vacantseatvan mb-3"><span class="fas fa-times" aria-hidden="true"></span></button>
                    </div>
                    <div row>
                        <button type="button" disabled="" class="btn btn-outline-danger vacantseatvan mb-3"><span class="fas fa-times" aria-hidden="true"></span></button>
                        <button type="button" disabled="" class="btn btn-outline-danger vacantseatvan mb-3"><span class="fas fa-times" aria-hidden="true"></span></button>
                        <button type="button" disabled="" class="btn btn-outline-danger vacantseatvan mb-3"><span class="fas fa-times" aria-hidden="true"></span></button>
                        <button type="button" id="Seat6" class="btn btn-primary uniformbvan mb-3" value="6">Seat 06</button>
                    </div>
                    <div row>
                        <button type="button" id="Seat7" class="btn btn-primary uniformbvan mb-3" value="7">Seat 07</button>
                        <button type="button" disabled="" class="btn btn-outline-danger vacantseatvan mb-3"><span class="fas fa-times" aria-hidden="true"></span></button>
                        <button type="button" disabled="" class="btn btn-outline-danger vacantseatvan mb-3"><span class="fas fa-times" aria-hidden="true"></span></button>
                        <button type="button" disabled="" class="btn btn-outline-danger vacantseatvan mb-3"><span class="fas fa-times" aria-hidden="true"></span></button>
                    </div>
                    <div row>
                        <button type="button" disabled="" class="btn btn-outline-danger vacantseatvan mb-3"><span class="fas fa-times" aria-hidden="true"></span></button>
                        <button type="button" disabled="" class="btn btn-outline-danger vacantseatvan mb-3"><span class="fas fa-times" aria-hidden="true"></span></button>
                        <button type="button" disabled="" class="btn btn-outline-danger vacantseatvan mb-3"><span class="fas fa-times" aria-hidden="true"></span></button>
                        <button type="button" id="Seat8" class="btn btn-primary uniformbvan mb-3" value="8">Seat 08</button>
                    </div>
                    <div row>
                        <button type="button" id="Seat9" class="btn btn-primary uniformbvan mb-3" value="9">Seat 09</button>
                        <button type="button" disabled="" class="btn btn-outline-danger vacantseatvan mb-3"><span class="fas fa-times" aria-hidden="true"></span></button>
                        <button type="button" disabled="" class="btn btn-outline-danger vacantseatvan mb-3"><span class="fas fa-times" aria-hidden="true"></span></button>
                        <button type="button" disabled="" class="btn btn-outline-danger vacantseatvan mb-3"><span class="fas fa-times" aria-hidden="true"></span></button>
                    </div>
                    <div row>
                        <button type="button" disabled="" class="btn btn-outline-danger vacantseatvan mb-3"><span class="fas fa-times" aria-hidden="true"></span></button>
                        <button type="button" disabled="" class="btn btn-outline-danger vacantseatvan mb-3"><span class="fas fa-times" aria-hidden="true"></span></button>
                        <button type="button" disabled="" class="btn btn-outline-danger vacantseatvan mb-3"><span class="fas fa-times" aria-hidden="true"></span></button>
                        <button type="button" id="Seat10" class="btn btn-primary uniformbvan mb-3" value="10">Seat 10</button>
                    </div>
                    <div row>
                        <button type="button" id="Seat11" class="btn btn-primary uniformbvan mb-3" value="11">Seat 11</button>
                        <button type="button" disabled="" class="btn btn-outline-danger vacantseatvan mb-3"><span class="fas fa-times" aria-hidden="true"></span></button>
                        <button type="button" disabled="" class="btn btn-outline-danger vacantseatvan mb-3"><span class="fas fa-times" aria-hidden="true"></span></button>
                        <button type="button" disabled="" class="btn btn-outline-danger vacantseatvan mb-3"><span class="fas fa-times" aria-hidden="true"></span></button>
                    </div>
                    <div row>
                        <button type="button" disabled="" class="btn btn-outline-danger vacantseatvan mb-3"><span class="fas fa-times" aria-hidden="true"></span></button>
                        <button type="button" disabled="" class="btn btn-outline-danger vacantseatvan mb-3"><span class="fas fa-times" aria-hidden="true"></span></button>
                        <button type="button" disabled="" class="btn btn-outline-danger vacantseatvan mb-3"><span class="fas fa-times" aria-hidden="true"></span></button>
                        <button type="button" id="Seat12" class="btn btn-primary uniformbvan mb-3" value="12">Seat 12</button>
                    </div>
                    <div row>
                        <button type="button" id="Seat13" class="btn btn-primary uniformbvan mb-3" value="13">Seat 13</button>
                        <button type="button" disabled="" class="btn btn-outline-danger vacantseatvan mb-3"><span class="fas fa-times" aria-hidden="true"></span></button>
                        <button type="button" disabled="" class="btn btn-outline-danger vacantseatvan mb-3"><span class="fas fa-times" aria-hidden="true"></span></button>
                        <button type="button" disabled="" class="btn btn-outline-danger vacantseatvan mb-3"><span class="fas fa-times" aria-hidden="true"></span></button>
                    </div>
                    @*<div row>
                        <button type="button" disabled="" class="btn btn-outline-danger vacantseatvan mb-3"><span class="fas fa-times" aria-hidden="true"></span></button>
                        <button type="button" disabled="" class="btn btn-outline-danger vacantseatvan mb-3"><span class="fas fa-times" aria-hidden="true"></span></button>
                        <button type="button" disabled="" class="btn btn-outline-danger vacantseatvan mb-3"><span class="fas fa-times" aria-hidden="true"></span></button>
                        <button type="button" id="Seat1" class="btn btn-primary uniformbvan mb-3" value="1">Seat 01</button>
                    </div>*@
                </div>
                <div class="col-6 justify-content-center align-self-center">

                    <button type="button" disabled="" class="btn btn-outline-danger vacantseatvan mb-3"><span class="fas fa-times" aria-hidden="true"></span></button>
                    <button type="button" disabled="" class="btn btn-outline-danger vacantseatvan mb-3"><span class="fas fa-times" aria-hidden="true"></span></button>
                    <button type="button" disabled="" class="btn btn-outline-danger vacantseatvan mb-3"><span class="fas fa-times" aria-hidden="true"></span></button>
                    <button type="button" disabled="" class="btn btn-outline-danger vacantseatvan mb-3"><span class="fas fa-times" aria-hidden="true"></span></button>
                    <button type="button" disabled="" class="btn btn-outline-danger vacantseatvan mb-3"><span class="fas fa-times" aria-hidden="true"></span></button>
                    <button type="button" disabled="" class="btn btn-outline-danger vacantseatvan mb-3"><span class="fas fa-times" aria-hidden="true"></span></button>
                    <button type="button" disabled="" class="btn btn-outline-danger vacantseatvan mb-3"><span class="fas fa-times" aria-hidden="true"></span></button>
                    <button type="button" disabled="" class="btn btn-outline-danger vacantseatvan mb-3"><span class="fas fa-times" aria-hidden="true"></span></button>
                    <button type="button" disabled="" class="btn btn-outline-danger vacantseatvan mb-3"><span class="fas fa-times" aria-hidden="true"></span></button>
                    <button type="button" disabled="" class="btn btn-outline-danger vacantseatvan mb-3"><span class="fas fa-times" aria-hidden="true"></span></button>
                    <button type="button" disabled="" class="btn btn-outline-danger vacantseatvan mb-3"><span class="fas fa-times" aria-hidden="true"></span></button>


                    <button type="button" disabled="" class="btn btn-outline-danger vacantseatvan mb-3"><span class="fas fa-times" aria-hidden="true"></span></button>
                    <button type="button" id="Seat14" class="btn btn-primary uniformbvan mb-3" value="14">Seat 14</button>
                    <button type="button" disabled="" class="btn btn-outline-danger vacantseatvan mb-3"><span class="fas fa-times" aria-hidden="true"></span></button>
                    <button type="button" disabled="" class="btn btn-outline-danger vacantseatvan mb-3"><span class="fas fa-times" aria-hidden="true"></span></button>
                    <button type="button" disabled="" class="btn btn-outline-danger vacantseatvan mb-3"><span class="fas fa-times" aria-hidden="true"></span></button>
                    <button type="button" id="Seat15" class="btn btn-primary uniformbvan mb-3" value="15">Seat 15</button>
                    <button type="button" disabled="" class="btn btn-outline-danger vacantseatvan mb-3"><span class="fas fa-times" aria-hidden="true"></span></button>
                    <button type="button" disabled="" class="btn btn-outline-danger vacantseatvan mb-3"><span class="fas fa-times" aria-hidden="true"></span></button>
                    <button type="button" disabled="" class="btn btn-outline-danger vacantseatvan mb-3"><span class="fas fa-times" aria-hidden="true"></span></button>
                    <button type="button" id="Seat16" class="btn btn-primary uniformbvan mb-3" value="16">Seat 16</button>
                    <button type="button" disabled="" class="btn btn-outline-danger vacantseatvan mb-3"><span class="fas fa-times" aria-hidden="true"></span></button>

                    <button type="button" disabled="" class="btn btn-outline-danger vacantseatvan mb-3"><span class="fas fa-times" aria-hidden="true"></span></button>
                    <button type="button" disabled="" class="btn btn-outline-danger vacantseatvan mb-3"><span class="fas fa-times" aria-hidden="true"></span></button>
                    <button type="button" disabled="" class="btn btn-outline-danger vacantseatvan mb-3"><span class="fas fa-times" aria-hidden="true"></span></button>
                    <button type="button" disabled="" class="btn btn-outline-danger vacantseatvan mb-3"><span class="fas fa-times" aria-hidden="true"></span></button>
                    <button type="button" disabled="" class="btn btn-outline-danger vacantseatvan mb-3"><span class="fas fa-times" aria-hidden="true"></span></button>
                    <button type="button" disabled="" class="btn btn-outline-danger vacantseatvan mb-3"><span class="fas fa-times" aria-hidden="true"></span></button>
                    <button type="button" disabled="" class="btn btn-outline-danger vacantseatvan mb-3"><span class="fas fa-times" aria-hidden="true"></span></button>
                    <button type="button" disabled="" class="btn btn-outline-danger vacantseatvan mb-3"><span class="fas fa-times" aria-hidden="true"></span></button>
                    <button type="button" disabled="" class="btn btn-outline-danger vacantseatvan mb-3"><span class="fas fa-times" aria-hidden="true"></span></button>
                    <button type="button" disabled="" class="btn btn-outline-danger vacantseatvan mb-3"><span class="fas fa-times" aria-hidden="true"></span></button>
                    <button type="button" disabled="" class="btn btn-outline-danger vacantseatvan mb-3"><span class="fas fa-times" aria-hidden="true"></span></button>

                    <button type="button" disabled="" class="btn btn-outline-danger vacantseatvan mb-3"><span class="fas fa-times" aria-hidden="true"></span></button>
                    <button type="button" id="Seat17" class="btn btn-primary uniformbvan mb-3" value="17">Seat 17</button>
                    <button type="button" disabled="" class="btn btn-outline-danger vacantseatvan mb-3"><span class="fas fa-times" aria-hidden="true"></span></button>
                    <button type="button" disabled="" class="btn btn-outline-danger vacantseatvan mb-3"><span class="fas fa-times" aria-hidden="true"></span></button>
                    <button type="button" disabled="" class="btn btn-outline-danger vacantseatvan mb-3"><span class="fas fa-times" aria-hidden="true"></span></button>
                    <button type="button" id="Seat18" class="btn btn-primary uniformbvan mb-3" value="18">Seat 18</button>
                    <button type="button" disabled="" class="btn btn-outline-danger vacantseatvan mb-3"><span class="fas fa-times" aria-hidden="true"></span></button>
                    <button type="button" disabled="" class="btn btn-outline-danger vacantseatvan mb-3"><span class="fas fa-times" aria-hidden="true"></span></button>
                    <button type="button" disabled="" class="btn btn-outline-danger vacantseatvan mb-3"><span class="fas fa-times" aria-hidden="true"></span></button>
                    <button type="button" id="Seat19" class="btn btn-primary uniformbvan mb-3" value="19">Seat 19</button>
                    <button type="button" disabled="" class="btn btn-outline-danger vacantseatvan mb-3"><span class="fas fa-times" aria-hidden="true"></span></button>

                    <button type="button" disabled="" class="btn btn-outline-danger vacantseatvan mb-3"><span class="fas fa-times" aria-hidden="true"></span></button>
                    <button type="button" disabled="" class="btn btn-outline-danger vacantseatvan mb-3"><span class="fas fa-times" aria-hidden="true"></span></button>
                    <button type="button" disabled="" class="btn btn-outline-danger vacantseatvan mb-3"><span class="fas fa-times" aria-hidden="true"></span></button>
                    <button type="button" disabled="" class="btn btn-outline-danger vacantseatvan mb-3"><span class="fas fa-times" aria-hidden="true"></span></button>
                    <button type="button" disabled="" class="btn btn-outline-danger vacantseatvan mb-3"><span class="fas fa-times" aria-hidden="true"></span></button>
                    <button type="button" disabled="" class="btn btn-outline-danger vacantseatvan mb-3"><span class="fas fa-times" aria-hidden="true"></span></button>
                    <button type="button" disabled="" class="btn btn-outline-danger vacantseatvan mb-3"><span class="fas fa-times" aria-hidden="true"></span></button>
                    <button type="button" disabled="" class="btn btn-outline-danger vacantseatvan mb-3"><span class="fas fa-times" aria-hidden="true"></span></button>
                    <button type="button" disabled="" class="btn btn-outline-danger vacantseatvan mb-3"><span class="fas fa-times" aria-hidden="true"></span></button>
                    <button type="button" disabled="" class="btn btn-outline-danger vacantseatvan mb-3"><span class="fas fa-times" aria-hidden="true"></span></button>
                    <button type="button" disabled="" class="btn btn-outline-danger vacantseatvan mb-3"><span class="fas fa-times" aria-hidden="true"></span></button>

                    <button type="button" disabled="" class="btn btn-outline-danger vacantseatvan mb-3"><span class="fas fa-times" aria-hidden="true"></span></button>
                    <button type="button" id="Seat20" class="btn btn-primary uniformbvan mb-3" value="20">Seat 20</button>
                    <button type="button" disabled="" class="btn btn-outline-danger vacantseatvan mb-3"><span class="fas fa-times" aria-hidden="true"></span></button>
                    <button type="button" disabled="" class="btn btn-outline-danger vacantseatvan mb-3"><span class="fas fa-times" aria-hidden="true"></span></button>
                    <button type="button" disabled="" class="btn btn-outline-danger vacantseatvan mb-3"><span class="fas fa-times" aria-hidden="true"></span></button>
                    <button type="button" id="Seat21" class="btn btn-primary uniformbvan mb-3" value="21">Seat 21</button>
                    <button type="button" disabled="" class="btn btn-outline-danger vacantseatvan mb-3"><span class="fas fa-times" aria-hidden="true"></span></button>
                    <button type="button" disabled="" class="btn btn-outline-danger vacantseatvan mb-3"><span class="fas fa-times" aria-hidden="true"></span></button>
                    <button type="button" disabled="" class="btn btn-outline-danger vacantseatvan mb-3"><span class="fas fa-times" aria-hidden="true"></span></button>
                    <button type="button" id="Seat22" class="btn btn-primary uniformbvan mb-3" value="22">Seat 22</button>
                    <button type="button" disabled="" class="btn btn-outline-danger vacantseatvan mb-3"><span class="fas fa-times" aria-hidden="true"></span></button>

                    <button type="button" disabled="" class="btn btn-outline-danger vacantseatvan mb-3"><span class="fas fa-times" aria-hidden="true"></span></button>
                    <button type="button" disabled="" class="btn btn-outline-danger vacantseatvan mb-3"><span class="fas fa-times" aria-hidden="true"></span></button>
                    <button type="button" disabled="" class="btn btn-outline-danger vacantseatvan mb-3"><span class="fas fa-times" aria-hidden="true"></span></button>
                    <button type="button" disabled="" class="btn btn-outline-danger vacantseatvan mb-3"><span class="fas fa-times" aria-hidden="true"></span></button>
                    <button type="button" disabled="" class="btn btn-outline-danger vacantseatvan mb-3"><span class="fas fa-times" aria-hidden="true"></span></button>
                    <button type="button" disabled="" class="btn btn-outline-danger vacantseatvan mb-3"><span class="fas fa-times" aria-hidden="true"></span></button>
                    <button type="button" disabled="" class="btn btn-outline-danger vacantseatvan mb-3"><span class="fas fa-times" aria-hidden="true"></span></button>
                    <button type="button" disabled="" class="btn btn-outline-danger vacantseatvan mb-3"><span class="fas fa-times" aria-hidden="true"></span></button>
                    <button type="button" disabled="" class="btn btn-outline-danger vacantseatvan mb-3"><span class="fas fa-times" aria-hidden="true"></span></button>
                    <button type="button" disabled="" class="btn btn-outline-danger vacantseatvan mb-3"><span class="fas fa-times" aria-hidden="true"></span></button>
                    <button type="button" disabled="" class="btn btn-outline-danger vacantseatvan mb-3"><span class="fas fa-times" aria-hidden="true"></span></button>

                    <button type="button" disabled="" class="btn btn-outline-danger vacantseatvan mb-3"><span class="fas fa-times" aria-hidden="true"></span></button>
                    <button type="button" id="Seat23" class="btn btn-primary uniformbvan mb-3" value="23">Seat 23</button>
                    <button type="button" disabled="" class="btn btn-outline-danger vacantseatvan mb-3"><span class="fas fa-times" aria-hidden="true"></span></button>
                    <button type="button" disabled="" class="btn btn-outline-danger vacantseatvan mb-3"><span class="fas fa-times" aria-hidden="true"></span></button>
                    <button type="button" disabled="" class="btn btn-outline-danger vacantseatvan mb-3"><span class="fas fa-times" aria-hidden="true"></span></button>
                    <button type="button" id="Seat24" class="btn btn-primary uniformbvan mb-3" value="24">Seat 24</button>
                    <button type="button" disabled="" class="btn btn-outline-danger vacantseatvan mb-3"><span class="fas fa-times" aria-hidden="true"></span></button>
                    <button type="button" disabled="" class="btn btn-outline-danger vacantseatvan mb-3"><span class="fas fa-times" aria-hidden="true"></span></button>
                    <button type="button" disabled="" class="btn btn-outline-danger vacantseatvan mb-3"><span class="fas fa-times" aria-hidden="true"></span></button>
                    <button type="button" id="Seat25" class="btn btn-primary uniformbvan mb-3" value="25">Seat 25</button>
                    <button type="button" disabled="" class="btn btn-outline-danger vacantseatvan mb-3"><span class="fas fa-times" aria-hidden="true"></span></button>

                    <button type="button" disabled="" class="btn btn-outline-danger vacantseatvan mb-3"><span class="fas fa-times" aria-hidden="true"></span></button>
                    <button type="button" disabled="" class="btn btn-outline-danger vacantseatvan mb-3"><span class="fas fa-times" aria-hidden="true"></span></button>
                    <button type="button" disabled="" class="btn btn-outline-danger vacantseatvan mb-3"><span class="fas fa-times" aria-hidden="true"></span></button>
                    <button type="button" disabled="" class="btn btn-outline-danger vacantseatvan mb-3"><span class="fas fa-times" aria-hidden="true"></span></button>
                    <button type="button" disabled="" class="btn btn-outline-danger vacantseatvan mb-3"><span class="fas fa-times" aria-hidden="true"></span></button>
                    <button type="button" disabled="" class="btn btn-outline-danger vacantseatvan mb-3"><span class="fas fa-times" aria-hidden="true"></span></button>
                    <button type="button" disabled="" class="btn btn-outline-danger vacantseatvan mb-3"><span class="fas fa-times" aria-hidden="true"></span></button>
                    <button type="button" disabled="" class="btn btn-outline-danger vacantseatvan mb-3"><span class="fas fa-times" aria-hidden="true"></span></button>
                    <button type="button" disabled="" class="btn btn-outline-danger vacantseatvan mb-3"><span class="fas fa-times" aria-hidden="true"></span></button>
                    <button type="button" disabled="" class="btn btn-outline-danger vacantseatvan mb-3"><span class="fas fa-times" aria-hidden="true"></span></button>
                    <button type="button" disabled="" class="btn btn-outline-danger vacantseatvan mb-3"><span class="fas fa-times" aria-hidden="true"></span></button>

                    <button type="button" disabled="" class="btn btn-outline-danger vacantseatvan mb-3"><span class="fas fa-times" aria-hidden="true"></span></button>
                    <button type="button" id="Seat26" class="btn btn-primary uniformbvan mb-3" value="26">Seat 26</button>
                    <button type="button" disabled="" class="btn btn-outline-danger vacantseatvan mb-3"><span class="fas fa-times" aria-hidden="true"></span></button>
                    <button type="button" disabled="" class="btn btn-outline-danger vacantseatvan mb-3"><span class="fas fa-times" aria-hidden="true"></span></button>
                    <button type="button" disabled="" class="btn btn-outline-danger vacantseatvan mb-3"><span class="fas fa-times" aria-hidden="true"></span></button>
                    <button type="button" id="Seat27" class="btn btn-primary uniformbvan mb-3" value="27">Seat 27</button>
                    <button type="button" disabled="" class="btn btn-outline-danger vacantseatvan mb-3"><span class="fas fa-times" aria-hidden="true"></span></button>
                    <button type="button" disabled="" class="btn btn-outline-danger vacantseatvan mb-3"><span class="fas fa-times" aria-hidden="true"></span></button>
                    <button type="button" disabled="" class="btn btn-outline-danger vacantseatvan mb-3"><span class="fas fa-times" aria-hidden="true"></span></button>
                    <button type="button" id="Seat28" class="btn btn-primary uniformbvan mb-3" value="28">Seat 28</button>
                    <button type="button" disabled="" class="btn btn-outline-danger vacantseatvan mb-3"><span class="fas fa-times" aria-hidden="true"></span></button>

                </div>
                <div class="col-3">
                    <div class="float-right justify-content-end">
                        <div row>
                            <button type="button" id="Seat29" class="btn btn-primary uniformbvan mb-3" value="29">Seat 29</button>
                            <button type="button" disabled="" class="btn btn-outline-danger vacantseatvan mb-3"><span class="fas fa-times" aria-hidden="true"></span></button>
                            <button type="button" disabled="" class="btn btn-outline-danger vacantseatvan mb-3"><span class="fas fa-times" aria-hidden="true"></span></button>
                            <button type="button" disabled="" class="btn btn-outline-danger vacantseatvan mb-3"><span class="fas fa-times" aria-hidden="true"></span></button>
                        </div>
                        <div row>
                            <button type="button" disabled="" class="btn btn-outline-danger vacantseatvan mb-3"><span class="fas fa-times" aria-hidden="true"></span></button>
                            <button type="button" disabled="" class="btn btn-outline-danger vacantseatvan mb-3"><span class="fas fa-times" aria-hidden="true"></span></button>
                            <button type="button" disabled="" class="btn btn-outline-danger vacantseatvan mb-3"><span class="fas fa-times" aria-hidden="true"></span></button>
                            <button type="button" id="Seat30" class="btn btn-primary uniformbvan mb-3" value="30">Seat 30</button>
                        </div>
                        <div row>
                            <button type="button" id="Seat31" class="btn btn-primary uniformbvan mb-3" value="31">Seat 31</button>
                            <button type="button" disabled="" class="btn btn-outline-danger vacantseatvan mb-3"><span class="fas fa-times" aria-hidden="true"></span></button>
                            <button type="button" disabled="" class="btn btn-outline-danger vacantseatvan mb-3"><span class="fas fa-times" aria-hidden="true"></span></button>
                            <button type="button" disabled="" class="btn btn-outline-danger vacantseatvan mb-3"><span class="fas fa-times" aria-hidden="true"></span></button>
                        </div>
                        <div row>
                            <button type="button" disabled="" class="btn btn-outline-danger vacantseatvan mb-3"><span class="fas fa-times" aria-hidden="true"></span></button>
                            <button type="button" disabled="" class="btn btn-outline-danger vacantseatvan mb-3"><span class="fas fa-times" aria-hidden="true"></span></button>
                            <button type="button" disabled="" class="btn btn-outline-danger vacantseatvan mb-3"><span class="fas fa-times" aria-hidden="true"></span></button>
                            <button type="button" id="Seat32" class="btn btn-primary uniformbvan mb-3" value="32">Seat 32</button>
                        </div>
                        <div row>
                            <button type="button" id="Seat33" class="btn btn-primary uniformbvan mb-3" value="33">Seat 33</button>
                            <button type="button" disabled="" class="btn btn-outline-danger vacantseatvan mb-3"><span class="fas fa-times" aria-hidden="true"></span></button>
                            <button type="button" disabled="" class="btn btn-outline-danger vacantseatvan mb-3"><span class="fas fa-times" aria-hidden="true"></span></button>
                            <button type="button" disabled="" class="btn btn-outline-danger vacantseatvan mb-3"><span class="fas fa-times" aria-hidden="true"></span></button>
                        </div>
                        <div row>
                            <button type="button" disabled="" class="btn btn-outline-danger vacantseatvan mb-3"><span class="fas fa-times" aria-hidden="true"></span></button>
                            <button type="button" disabled="" class="btn btn-outline-danger vacantseatvan mb-3"><span class="fas fa-times" aria-hidden="true"></span></button>
                            <button type="button" disabled="" class="btn btn-outline-danger vacantseatvan mb-3"><span class="fas fa-times" aria-hidden="true"></span></button>
                            <button type="button" id="Seat34" class="btn btn-primary uniformbvan mb-3" value="34">Seat 34</button>
                        </div>
                        <div row>
                            <button type="button" id="Seat35" class="btn btn-primary uniformbvan mb-3" value="35">Seat 35</button>
                            <button type="button" disabled="" class="btn btn-outline-danger vacantseatvan mb-3"><span class="fas fa-times" aria-hidden="true"></span></button>
                            <button type="button" disabled="" class="btn btn-outline-danger vacantseatvan mb-3"><span class="fas fa-times" aria-hidden="true"></span></button>
                            <button type="button" disabled="" class="btn btn-outline-danger vacantseatvan mb-3"><span class="fas fa-times" aria-hidden="true"></span></button>
                        </div>
                        <div row>
                            <button type="button" disabled="" class="btn btn-outline-danger vacantseatvan mb-3"><span class="fas fa-times" aria-hidden="true"></span></button>
                            <button type="button" disabled="" class="btn btn-outline-danger vacantseatvan mb-3"><span class="fas fa-times" aria-hidden="true"></span></button>
                            <button type="button" disabled="" class="btn btn-outline-danger vacantseatvan mb-3"><span class="fas fa-times" aria-hidden="true"></span></button>
                            <button type="button" id="Seat36" class="btn btn-primary uniformbvan mb-3" value="36">Seat 36</button>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row justify-content-center align-self-center">
                <div class="form-group">
                    <button type="button" disabled="" class="btn btn-outline-info vancouverstage">TECH BOOTH</button>
                </div>
            </div>
            <div class="row no-gutters mb-2">
                <div class="col-3 justify-content-center align-self-center">
                    <div row>
                        <button type="button" id="Seat37" class="btn btn-primary uniformbvan mb-3" value="37">Seat 37</button>
                        <button type="button" disabled="" class="btn btn-outline-danger vacantseatvan mb-3"><span class="fas fa-times" aria-hidden="true"></span></button>
                        <button type="button" disabled="" class="btn btn-outline-danger vacantseatvan mb-3"><span class="fas fa-times" aria-hidden="true"></span></button>
                        <button type="button" disabled="" class="btn btn-outline-danger vacantseatvan mb-3"><span class="fas fa-times" aria-hidden="true"></span></button>
                    </div>
                    <div row>
                        <button type="button" disabled="" class="btn btn-outline-danger vacantseatvan mb-3"><span class="fas fa-times" aria-hidden="true"></span></button>
                        <button type="button" disabled="" class="btn btn-outline-danger vacantseatvan mb-3"><span class="fas fa-times" aria-hidden="true"></span></button>
                        <button type="button" disabled="" class="btn btn-outline-danger vacantseatvan mb-3"><span class="fas fa-times" aria-hidden="true"></span></button>
                        <button type="button" id="Seat38" class="btn btn-primary uniformbvan mb-3" value="38">Seat 38</button>
                    </div>
                    <div row>
                        <button type="button" disabled="" class="btn btn-outline-danger vacantseatvan mb-3"><span class="fas fa-times" aria-hidden="true"></span></button>
                        <button type="button" disabled="" class="btn btn-outline-danger vacantseatvan mb-3"><span class="fas fa-times" aria-hidden="true"></span></button>
                        <button type="button" disabled="" class="btn btn-outline-danger vacantseatvan mb-3"><span class="fas fa-times" aria-hidden="true"></span></button>
                        <button type="button" disabled="" class="btn btn-outline-danger vacantseatvan mb-3"><span class="fas fa-times" aria-hidden="true"></span></button>
                    </div>
                </div>

                <div class="col-6 justify-content-center align-self-center">
                    <button type="button" disabled="" class="btn btn-outline-danger vacantseatvan mb-3"><span class="fas fa-times" aria-hidden="true"></span></button>
                    <button type="button" disabled="" class="btn btn-outline-danger vacantseatvan mb-3"><span class="fas fa-times" aria-hidden="true"></span></button>
                    <button type="button" disabled="" class="btn btn-outline-danger vacantseatvan mb-3"><span class="fas fa-times" aria-hidden="true"></span></button>
                    <button type="button" disabled="" class="btn btn-outline-danger vacantseatvan mb-3"><span class="fas fa-times" aria-hidden="true"></span></button>
                    <button type="button" disabled="" class="btn btn-outline-danger vacantseatvan mb-3"><span class="fas fa-times" aria-hidden="true"></span></button>
                    <button type="button" disabled="" class="btn btn-outline-danger vacantseatvan mb-3"><span class="fas fa-times" aria-hidden="true"></span></button>
                    <button type="button" disabled="" class="btn btn-outline-danger vacantseatvan mb-3"><span class="fas fa-times" aria-hidden="true"></span></button>
                    <button type="button" disabled="" class="btn btn-outline-danger vacantseatvan mb-3"><span class="fas fa-times" aria-hidden="true"></span></button>
                    <button type="button" disabled="" class="btn btn-outline-danger vacantseatvan mb-3"><span class="fas fa-times" aria-hidden="true"></span></button>
                    <button type="button" disabled="" class="btn btn-outline-danger vacantseatvan mb-3"><span class="fas fa-times" aria-hidden="true"></span></button>
                    <button type="button" disabled="" class="btn btn-outline-danger vacantseatvan mb-3"><span class="fas fa-times" aria-hidden="true"></span></button>

                    <button type="button" disabled="" class="btn btn-outline-danger vacantseatvan mb-3"><span class="fas fa-times" aria-hidden="true"></span></button>
                    <button type="button" disabled="" class="btn btn-outline-danger vacantseatvan mb-3"><span class="fas fa-times" aria-hidden="true"></span></button>
                    <button type="button" disabled="" class="btn btn-outline-danger vacantseatvan mb-3"><span class="fas fa-times" aria-hidden="true"></span></button>
                    <button type="button" disabled="" class="btn btn-outline-danger vacantseatvan mb-3"><span class="fas fa-times" aria-hidden="true"></span></button>
                    <button type="button" disabled="" class="btn btn-outline-danger vacantseatvan mb-3"><span class="fas fa-times" aria-hidden="true"></span></button>
                    <button type="button" disabled="" class="btn btn-outline-danger vacantseatvan mb-3"><span class="fas fa-times" aria-hidden="true"></span></button>
                    <button type="button" disabled="" class="btn btn-outline-danger vacantseatvan mb-3"><span class="fas fa-times" aria-hidden="true"></span></button>
                    <button type="button" disabled="" class="btn btn-outline-danger vacantseatvan mb-3"><span class="fas fa-times" aria-hidden="true"></span></button>
                    <button type="button" disabled="" class="btn btn-outline-danger vacantseatvan mb-3"><span class="fas fa-times" aria-hidden="true"></span></button>
                    <button type="button" disabled="" class="btn btn-outline-danger vacantseatvan mb-3"><span class="fas fa-times" aria-hidden="true"></span></button>
                    <button type="button" disabled="" class="btn btn-outline-danger vacantseatvan mb-3"><span class="fas fa-times" aria-hidden="true"></span></button>

                    <button type="button" disabled="" class="btn btn-outline-danger vacantseatvan mb-3"><span class="fas fa-times" aria-hidden="true"></span></button>
                    <button type="button" id="Seat39" class="btn btn-primary uniformbvan mb-3" value="39">Seat 39</button>
                    <button type="button" disabled="" class="btn btn-outline-danger vacantseatvan mb-3"><span class="fas fa-times" aria-hidden="true"></span></button>
                    <button type="button" disabled="" class="btn btn-outline-danger vacantseatvan mb-3"><span class="fas fa-times" aria-hidden="true"></span></button>
                    <button type="button" disabled="" class="btn btn-outline-danger vacantseatvan mb-3"><span class="fas fa-times" aria-hidden="true"></span></button>
                    <button type="button" id="Seat40" class="btn btn-primary uniformbvan mb-3" value="40">Seat 40</button>
                    <button type="button" disabled="" class="btn btn-outline-danger vacantseatvan mb-3"><span class="fas fa-times" aria-hidden="true"></span></button>
                    <button type="button" disabled="" class="btn btn-outline-danger vacantseatvan mb-3"><span class="fas fa-times" aria-hidden="true"></span></button>
                    <button type="button" disabled="" class="btn btn-outline-danger vacantseatvan mb-3"><span class="fas fa-times" aria-hidden="true"></span></button>
                    <button type="button" id="Seat41" class="btn btn-primary uniformbvan mb-3" value="41">Seat 41</button>
                    <button type="button" disabled="" class="btn btn-outline-danger vacantseatvan mb-3"><span class="fas fa-times" aria-hidden="true"></span></button>
                </div>
                <div class="col-3">
                    <div class="float-right justify-content-end">
                        <div class="row">
                            <button type="button" disabled="" class="btn btn-outline-danger vacantseatvan mb-3"><span class="fas fa-times" aria-hidden="true"></span></button>
                            <button type="button" disabled="" class="btn btn-outline-danger vacantseatvan mb-3"><span class="fas fa-times" aria-hidden="true"></span></button>
                            <button type="button" disabled="" class="btn btn-outline-danger vacantseatvan mb-3"><span class="fas fa-times" aria-hidden="true"></span></button>
                            <button type="button" id="Seat42" class="btn btn-primary uniformbvan mb-3" value="42">Seat 42</button>
                        </div>
                        <div class="row">
                            <button type="button" disabled="" class="btn btn-outline-danger vacantseatvan mb-3"><span class="fas fa-times" aria-hidden="true"></span></button>
                            <button type="button" disabled="" class="btn btn-outline-danger vacantseatvan mb-3"><span class="fas fa-times" aria-hidden="true"></span></button>
                            <button type="button" disabled="" class="btn btn-outline-danger vacantseatvan mb-3"><span class="fas fa-times" aria-hidden="true"></span></button>
                            <button type="button" disabled="" class="btn btn-outline-danger vacantseatvan mb-3"><span class="fas fa-times" aria-hidden="true"></span></button>
                        </div>
                        <div class="row">
                            <button type="button" disabled="" class="btn btn-outline-danger vacantseatvan mb-3"><span class="fas fa-times" aria-hidden="true"></span></button>
                            <button type="button" disabled="" class="btn btn-outline-danger vacantseatvan mb-3"><span class="fas fa-times" aria-hidden="true"></span></button>
                            <button type="button" disabled="" class="btn btn-outline-danger vacantseatvan mb-3"><span class="fas fa-times" aria-hidden="true"></span></button>
                            <button type="button" disabled="" class="btn btn-outline-danger vacantseatvan mb-3"><span class="fas fa-times" aria-hidden="true"></span></button>
                        </div>
                    </div>
                    
                </div>
                  
            </div>
        </div>
    </div>
</div>
<script type="text/javascript">
    syncData();
    //$(function () {
    //    $('[data-toggle="tooltip"]').tooltip()
    //});

    $('[type="button"]').click(function () {
        var data = $(this).attr("value");
        CreateDialog(data);
    });

    function CreateDialog(data) {
        $.ajax({
            url: '/AttendanceReservation/Create',
            type: "GET",
            dataType: "html",
            data: {
                ChurchID: $('#Churches').val(),
                SeatNo: data,
                EventID: $('#Event').val()
            },
            cache: false,
            success: function (result) {
                $("#DialogForm").html(result);
                $("#AddSeat").modal('show');
                //var form = $('form')
                //    .removeData("validator") /* added by the raw jquery.validate plugin */
                //    .removeData("unobtrusiveValidation");  /* added by the jquery unobtrusive plugin*/
                //$.validator.unobtrusive.parse(form);
            },
        });
    }
    //$("#button").click(function (e) {
    //    e.preventDefault();
    //    DialogFunction();
    //});

</script>
