

    <div id="partial" class="horizontal-scroll-wrapper">
        <div class="row justify-content-center align-self-center container-non-responsive">
            <div class="card border-primary mb-3">
                <div class="card-header text-center">STAGE</div>
                <div class="card-body">
                    <div class="row justify-content-center align-self-center">

                        @*<div class="form-group">
                            <input class="form-control form-control-lg text-center" disabled="" type="text" placeholder="STAGE" id="inputLarge">
                        </div>*@
                    </div>
                    <div class="row">
                        <button type="button" id="Seat1" class="btn btn-outline-primary uniformb m-3" value="1">Seat 01</button>
                        <button type="button" id="Seat2" class="btn btn-outline-primary uniformb m-3" value="2">Seat 02</button>
                        <button type="button" id="Seat3" class="btn btn-outline-primary uniformb m-3" value="3">Seat 03</button>
                        <button type="button" id="Seat4" class="btn btn-outline-primary uniformb m-3" value="4">Seat 04</button>
                        <button type="button" id="Seat5" class="btn btn-outline-primary uniformb m-3" value="5">Seat 05</button>
                        <button type="button" id="Seat6" class="btn btn-outline-primary uniformb m-3" value="6">Seat 06</button>
                        <button type="button" id="Seat7" class="btn btn-outline-primary uniformb m-3" value="7">Seat 07</button>
                    </div>
                    <div class="row">
                        <button type="button" id="Seat8" class="btn btn-outline-primary uniformb m-3" value="8">Seat 08</button>
                        <button type="button" id="Seat9" class="btn btn-outline-primary uniformb m-3" value="9">Seat 09</button>
                        <button type="button" id="Seat10" class="btn btn-outline-primary uniformb m-3" value="10">Seat 10</button>
                        <button type="button" id="Seat11" class="btn btn-outline-primary uniformb m-3" value="11">Seat 11</button>
                        <button type="button" id="Seat12" class="btn btn-outline-primary uniformb m-3" value="12">Seat 12</button>
                        <button type="button" id="Seat13" class="btn btn-outline-primary uniformb m-3" value="13">Seat 13</button>
                        <button type="button" id="Seat14" class="btn btn-outline-primary uniformb m-3" value="14">Seat 14</button>

                    </div>
                    <div class="row">
                        <button type="button" id="Seat15" class="btn btn-outline-primary uniformb m-3" value="15">Seat 15</button>
                        <button type="button" id="Seat16" class="btn btn-outline-primary uniformb m-3" value="16">Seat 16</button>
                        <button type="button" id="Seat17" class="btn btn-outline-primary uniformb m-3" value="17">Seat 17</button>
                        <button type="button" id="Seat18" class="btn btn-outline-primary uniformb m-3" value="18">Seat 18</button>
                        <button type="button" id="Seat19" class="btn btn-outline-primary uniformb m-3" value="19">Seat 19</button>
                        <button type="button" id="Seat20" class="btn btn-outline-primary uniformb m-3" value="20">Seat 20</button>
                        <button type="button" id="Seat21" class="btn btn-outline-primary uniformb m-3" value="21">Seat 21</button>

                    </div>
                    <div class="row">
                        <button type="button" id="Seat22" class="btn btn-outline-primary uniformb m-3" value="22">Seat 22</button>
                        <button type="button" id="Seat23" class="btn btn-outline-primary uniformb m-3" value="23">Seat 23</button>
                        <button type="button" id="Seat24" class="btn btn-outline-primary uniformb m-3" value="24">Seat 24</button>
                        <button type="button" id="Seat25" class="btn btn-outline-primary uniformb m-3" value="25">Seat 25</button>
                        <button type="button" id="Seat26" class="btn btn-outline-primary uniformb m-3" value="26">Seat 26</button>
                        <button type="button" id="Seat27" class="btn btn-outline-primary uniformb m-3" value="27">Seat 27</button>
                        <button type="button" id="Seat28" class="btn btn-outline-primary uniformb m-3" value="28">Seat 28</button>

                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="modal fade" id="AskDialogEdit">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title"></h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <div class="form-group row">
                        @Html.Label("Name:", htmlAttributes: new { @class = "col-sm-2 control-label", @style = "font-weight:bold" })
                        <div class="col-sm-9 form-control-static" id="Fname">
                        </div>
                    </div>
                    @Html.Hidden("SeatNumEdit")

                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-warning" onclick="OpenFunction()" id="openBtn">Open</button>
                    <button type="button" class="btn btn-primary" onclick="ReserveFunction()" id="nobtn">Reserved</button>
                    <button type="button" class="btn btn-success" onclick="CreateDialog()" id="yesbtn">Edit</button>
                    <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>

        <script type="text/javascript">
            syncData();

            $('[type="button"]').click(function () {
                var data = $(this).attr("value");
                AskDialogEdit(data);
                document.getElementById("name").innerHTML = "";
                document.getElementById("Fname").innerHTML = "";
            });

            function AskDialogEdit(data) {
                $.ajax({
                    url: "/SeatingArrangement/Edit",
                    type: "GET",
                    dataType: "json",
                    data: {
                        ChurchID: $('#Church').val(),
                        EventID: $('#Event').val(),
                        SeatNo: data,
                    },
                    cache: false,
                    success: function (data) {
                        $("#AskDialogEdit").modal('show');
                        document.getElementById("SeatNumEdit").value = data.seatNo;
                        if (data.NameOnly) {
                            document.getElementById("Fname").innerHTML = data.Name;

                        }
                        if (data.noData) {
                            document.getElementById("Fname").innerHTML = "N/A";

                        }
                    },
                });

            }

            function syncData() {
                $.ajax({
                    url: "/SeatingArrangement/getData",
                    type: "GET",
                    dataType: "json",
                    data: {
                        ChurchID: $('#Church').val(),
                        EventID: $('#Event').val()
                    },
                    cache: false,
                    success: function (data) {
                        for (var i = 0; i < data.List.length; i++) {
                            if (data.List[i].SeatNo == 1) {
                                document.getElementById("Seat1").innerHTML = data.List[i].Fullname;
                            }
                            if (data.List[i].SeatNo == 2) {
                                document.getElementById("Seat2").innerHTML = data.List[i].Fullname;
                            }
                            if (data.List[i].SeatNo == 3) {
                                document.getElementById("Seat3").innerHTML = data.List[i].Fullname;
                            }
                            if (data.List[i].SeatNo == 4) {
                                document.getElementById("Seat4").innerHTML = data.List[i].Fullname;
                            }
                            if (data.List[i].SeatNo == 5) {
                                document.getElementById("Seat5").innerHTML = data.List[i].Fullname;
                            }
                            if (data.List[i].SeatNo == 6) {
                                document.getElementById("Seat6").innerHTML = data.List[i].Fullname;
                            }
                            if (data.List[i].SeatNo == 7) {
                                document.getElementById("Seat7").innerHTML = data.List[i].Fullname;
                            }
                            if (data.List[i].SeatNo == 8) {
                                document.getElementById("Seat8").innerHTML = data.List[i].Fullname;
                            }
                            if (data.List[i].SeatNo == 9) {
                                document.getElementById("Seat9").innerHTML = data.List[i].Fullname;
                            }
                            if (data.List[i].SeatNo == 10) {

                                document.getElementById("Seat10").innerHTML = data.List[i].Fullname;
                            }
                            if (data.List[i].SeatNo == 11) {
                                document.getElementById("Seat11").innerHTML = data.List[i].Fullname;
                            }
                            if (data.List[i].SeatNo == 12) {
                                document.getElementById("Seat12").innerHTML = data.List[i].Fullname;
                            }
                            if (data.List[i].SeatNo == 13) {
                                document.getElementById("Seat13").innerHTML = data.List[i].Fullname;
                            }
                            if (data.List[i].SeatNo == 14) {
                                document.getElementById("Seat14").innerHTML = data.List[i].Fullname;
                            }
                            if (data.List[i].SeatNo == 15) {
                                document.getElementById("Seat15").innerHTML = data.List[i].Fullname;
                            }
                            if (data.List[i].SeatNo == 16) {
                                document.getElementById("Seat16").innerHTML = data.List[i].Fullname;
                            }
                            if (data.List[i].SeatNo == 17) {
                                document.getElementById("Seat17").innerHTML = data.List[i].Fullname;
                            }
                            if (data.List[i].SeatNo == 18) {
                                document.getElementById("Seat18").innerHTML = data.List[i].Fullname;
                            }
                            if (data.List[i].SeatNo == 19) {
                                document.getElementById("Seat19").innerHTML = data.List[i].Fullname;
                            }
                            if (data.List[i].SeatNo == 20) {
                                document.getElementById("Seat20").innerHTML = data.List[i].Fullname;
                            }
                            if (data.List[i].SeatNo == 21) {
                                document.getElementById("Seat21").innerHTML = data.List[i].Fullname;
                            }
                            if (data.List[i].SeatNo == 22) {
                                document.getElementById("Seat22").innerHTML = data.List[i].Fullname;
                            }
                            if (data.List[i].SeatNo == 23) {
                                document.getElementById("Seat23").innerHTML = data.List[i].Fullname;
                            }
                            if (data.List[i].SeatNo == 24) {
                                document.getElementById("Seat24").innerHTML = data.List[i].Fullname;
                            }
                            if (data.List[i].SeatNo == 25) {
                                document.getElementById("Seat25").innerHTML = data.List[i].Fullname;
                            }
                            if (data.List[i].SeatNo == 26) {
                                document.getElementById("Seat26").innerHTML = data.List[i].Fullname;
                            }
                            if (data.List[i].SeatNo == 27) {
                                document.getElementById("Seat27").innerHTML = data.List[i].Fullname;
                            }
                            if (data.List[i].SeatNo == 28) {
                                document.getElementById("Seat28").innerHTML = data.List[i].Fullname;
                            }
                        }

                    },
                    error: function (xhr, status, error) {
                        alert(xhr.responseText);
                    }
                });
            }

        </script>


